In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('dev/tt_data.xlsx')

In [3]:
df.head()

,post,source,clean_post,label,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,The world's most innovative companies are obse...,twitter,The world's most innovative companies are obse...,1.0,NaN,NaN,NaN
1,Mr. Meissner is a couple gym selfies away from...,twitter,Mr. Meissner is a couple gym selfies away from...,0.0,NaN,NaN,NaN
2,"El que dice que la bolsa no es suerte, no enti...",twitter,"El que dice que la bolsa no es suerte, no enti...",2.0,NaN,NaN,NaN
3,@PlugInFUD Just a bunch of degenerates dunking...,twitter,Just a bunch of degenerates dunking on $TSLA,-1.0,NaN,NaN,NaN
4,$TSLA - absolutely. This fraud is not only ge...,twitter,$TSLA - absolutely. This fraud is not only ge...,-1.0,NaN,NaN,NaN

In [5]:
df = df[['clean_post', 'label']]
df.head()

                                          clean_post  label
0  The world's most innovative companies are obse...    1.0
1  Mr. Meissner is a couple gym selfies away from...    0.0
2  El que dice que la bolsa no es suerte, no enti...    2.0
3       Just a bunch of degenerates dunking on $TSLA   -1.0
4  $TSLA - absolutely.  This fraud is not only ge...   -1.0

In [8]:
print(len(df.index))
print(df.isna().sum())

6000
clean_post       3
label         4977
dtype: int64

In [9]:
df_clean = df.dropna()

In [19]:
print(len(df_clean.index))

1023

In [26]:
df_c= df_clean[(df_clean['label']==-1) | (df_clean['label']==1)]

In [27]:
print(len(df_c.index))

1000

In [28]:
df_c.head()

                                          clean_post  label
0  The world's most innovative companies are obse...    1.0
3       Just a bunch of degenerates dunking on $TSLA   -1.0
4  $TSLA - absolutely.  This fraud is not only ge...   -1.0
5  If Elon is headed to #Shanghai for groundbreak...    1.0
6  BREAKING: Tesla researchers publish work on hy...    1.0

In [29]:
df_c.to_csv('final/man_labeled_tweets.csv', index=False)