In [1]:
import pandas as pd
from collections import Counter

In [9]:
df = pd.read_csv('/Users/luisguillermo/TFG/raw_data/training.1600000.processed.noemoticon.csv', names=['target', 'a', 'b', 'c', 'd', 'tweet'])

In [10]:
df.head()

,target,a,b,c,d,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [11]:
df = df[['tweet', 'target']]

In [12]:
df.head()

                                               tweet  target
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...       0
1  is upset that he can't update his Facebook by ...       0
2  @Kenichan I dived many times for the ball. Man...       0
3    my whole body feels itchy and like its on fire        0
4  @nationwideclass no, it's not behaving at all....       0

In [18]:
df['target'] = df['target'].replace([0], -1)
df['target'] = df['target'].replace([4], 1)

In [19]:
print(Counter(df['target'].tolist()))

Counter({-1: 800000, 1: 800000})